@model MyExpenses.Models.Expense;
@{
}

<style>
    .expInp {
        margin: 10px 20px
    }
</style>

<div>
    @using (Html.BeginForm("UpdateExpenseAtDB", "Expense", FormMethod.Post))
    {
        <div class="expInp">
            @Html.TextBoxFor(Model => Model.Title, new { @placeholder = "Expense Name", @class = "form-control" })
        </div>

        <div class="expInp">
            @Html.TextAreaFor(Model => Model.Desc, new { @placeholder = "Expense Description", @class = "form-control", rows = 1 })
        </div>

        <div class="expInp">
            @Html.TextBoxFor(Model => Model.Amount, new { @placeholder = "Expense Amount", @class = "form-control" })
        </div>

        <div class="expInp" style="text-align: end">
            <button style="font:30px">Update</button>
        </div>
    }
</div>
